---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name='twitter:site' content='@{{twitter}}' />
  <meta property='og:site_name' content='{{ site.title }}' />
  <meta name='twitter:url' content='{{page.permalink}}' />
  <meta name='twitter:domain' content='{{site.baseurl}}' />
  <meta property='og:url' content='{{page.permalink}}' />
  <meta name='twitter:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta property='og:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta name='twitter:description' content='{{page.content | markdownify | strip_html | trim_spaces | truncatewords: 30 | escape | replace:"'","&lsquo;" }}' />
  <meta property='og:description' content='{{page.content | markdownify | strip_html | trim_spaces | truncatewords: 30 | escape | replace:"'","&lsquo;" }}' />
  {% if page.image %}
    <meta name='twitter:image' content='{{page.image | replace:"https:","http:"}}' />
    <meta name='st:image' content='{{page.image | replace:"https:","http:"}}' />
    <meta property='og:image' content='{{page.image | replace:"https:","http:"}}' />
  {% else %}
    <meta name='twitter:image' content='{{site.baseurl}}/img/default-twitter-card.png' />
    <meta name='st:image' content='{{site.baseurl}}/img/default-twitter-card.png' />
    <meta property='og:image' content='{{site.baseurl}}/img/default-twitter-card.png' />
  {% endif %}
  <meta property='og:type' content='website' />
  <meta name='twitter:card' content='summary_large_image' />

  <title>{% if page.url == "/"  %}{% else %}{{page.title}} | {% endif %}{{ site.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
 <!--  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' /> -->
  <link href='http://fonts.googleapis.com/css?family=Kreon:400,700' rel='stylesheet' type='text/css'>
	<link href='{{site.baseurl}}/base/base.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='{{site.baseurl}}/site.js'></script>
</head>
<body class='{% if page.url == "/index.html" %}front{% endif %}'>

<nav class='pad2 fill-blue site-navigation center space'>
  <a class='strong {% if page.url == "{{site.baseurl}}/index.html" or page.url == "{{site.baseurl}}/" %}active{% endif %}' href='{{site.baseurl}}/'>Home</a>
  <a class='strong {% if page.url contains "session1" %}active{% endif %}' href='{{site.baseurl}}/sessions/'>Sessions</a>
  <a class='strong {% if page.url contains "resources" %}active{% endif %}' href='{{site.baseurl}}/resources/'>Resources</a>
  <a class='strong {% if page.url contains "about" %}active{% endif %}' href='{{site.baseurl}}/about/'>About</a>
  <a href='https://twitter.com/search?q=%23{{site.hashtag}}&src=typd' target='_blank' class='hide-mobile icon twitter inline small strong dark'>#{{site.hashtag}}</a>
</nav>


<header class='clearfix splash center'>
  <a href='{{site.baseurl}}' class='block'>
    <img id='logo' src='{{site.baseurl}}/img/logo.png' alt='HOT Summit' />
  </a>
</header>

{{content}}

<div class='pad2x show-mobile'>
  <a href='#sponsors' class='button block'>Supporters</a>
</div>


<section id='sponsors' class='hide-mobile col12 center fill-light pad2y'>
  <div class='limiter clearfix'>
    <div class='col10 margin1'>
      <h2 class='space-bottom1'>Participating Groups</h2>

      <nav class='space-bottom2'>
        <a href='http://yali.state.gov/' target='_blank'><img class='participating' src='{{site.baseurl}}/img/yali_network_banner.png' alt='YALI' /></a><br/>
        <a href='http://www.ohio.edu/' target='_blank'><img class='participating' src='{{site.baseurl}}/img/ouws_front_0309_ohiogr.gif' alt='Ohio University' /></a><br/>
        <a href='http://mapgive.state.gov/' target='_blank'><img class='participating' src='{{site.baseurl}}/img/mapgive.png' alt='MapGive' /></a>
      </nav>

      <h3>Get in touch to get involved</h3>

    </div>
  </div>
</section>

<section class='fill-white pad2y center'>
  <div class='limiter'>
    <p><strong>Interested in participating?</strong> Email <a href='mailto:{{site.email}}'>{{site.email}}</a> to learn more.</p>
  </div>
</section>
<footer class='col12 center fill-blue dark'>
  <div class='fill-darken3 pad2y col12'>
    <div class='limiter'>
      <p class='small hide-mobile'>
       <!-- <a href="{{site.baseurl}}/codeofconduct/">Code of Conduct</a> | --> <a href='{{site.baseurl}}'>{{site.title}}</a> | <a href='https://twitter.com/search?q=%23{{site.hashtag}}&src=typd' target='_blank'>#{{site.hashtag}}</a><!-- | Photo credits: Photo Credits-->
    </div>
  </div>
</footer>

<!-- Analytics / Tracking -->
<!-- End Analytics / Tracking -->

</body>
</html>
